/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-size: 14px;
  font-weight: 400;
}

html, body {
  width: 100vw;
}

.-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

.ks-pc {
  display: none;
}

h2 {
  font-weight: 400;
}

html body .ks-fv {
  width: calc(100vw - 32px);
  padding-bottom: 46px;
  margin: 16px 16px 16px 16px;
}
html body .ks-fv .ks-fv_img {
  width: 100%;
  margin-bottom: 56.5px;
  position: relative;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1, html body .ks-fv .ks-fv_img .ks-fv_img-frame2 {
  width: 100%;
  height: 32px;
  position: absolute;
  left: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
  content: "";
  width: 32px;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1 {
  top: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after {
  top: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before {
  left: 0;
  transform: translate(-50%, -50%);
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after {
  right: 0;
  transform: translate(50%, -50%);
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2 {
  bottom: 6px;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
  bottom: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before {
  left: 0;
  transform: translate(-50%, 50%);
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
  right: 0;
  transform: translate(50%, 50%);
}
html body .ks-fv .ks-fv_img img {
  width: 100%;
}
html body .ks-fv .ks-fv_img .ks-logo {
  width: 200px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-49.5%, 100%);
  z-index: 1;
}
html body .ks-fv .ks-fv_img .ks-fv_img-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 0;
}
html body .ks-fv p {
  padding-top: 35px;
  font-family: "ten-mincho-text", serif;
  font-size: 18px;
  color: #414143;
  line-height: 27px;
  text-align: center;
}
html body .ks-fv p:nth-of-type(2) {
  padding-top: 0;
  margin-top: 8px;
}
html body .ks_main .ks-about, html body .ks_main .ks-pickUp {
  width: 100%;
  position: relative;
}
html body .ks_main .ks-about .ks-about-bgImg, html body .ks_main .ks-about .ks-pickUp-bgImg, html body .ks_main .ks-pickUp .ks-about-bgImg, html body .ks_main .ks-pickUp .ks-pickUp-bgImg {
  width: 68%;
  position: absolute;
  right: 0;
  z-index: 0;
}
html body .ks_main .ks-about h2, html body .ks_main .ks-pickUp h2 {
  width: calc(100% - 32px);
  padding-top: 60px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ten-mincho-text", serif;
  font-size: 64px;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 76px;
}
html body .ks_main .ks-about h2 span, html body .ks_main .ks-pickUp h2 span {
  display: block;
  font-family: "ten-mincho-text", serif;
  font-size: 20px;
  color: #797979;
  line-height: 21px;
  writing-mode: vertical-rl;
  z-index: 1;
}
html body .ks_main .ks-about {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/09_ks/1_bg.webp);
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}
html body .ks_main .ks-about .ks-about-bgImg {
  top: 0;
}
html body .ks_main .ks-about .ks-about-copy {
  width: fit-content;
  margin: 24px 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .ks_main .ks-about .ks-about-copy h3 {
  font-family: "ten-mincho-text", serif;
  font-size: 20px;
  color: #797979;
  line-height: 21px;
  writing-mode: vertical-rl;
}
html body .ks_main .ks-about .ks-about-copy p {
  margin-left: 16px;
  font-size: 16px;
  color: #414143;
  line-height: 200%;
}
html body .ks_main .ks-about .ks-about-copy p span {
  position: relative;
  left: -8px;
}
html body .ks_main .ks-about .ks-about-copy p span span {
  left: -4px;
}
html body .ks_main .ks-pickUp {
  background-color: #F2F1EA;
  padding-bottom: 36px;
}
html body .ks_main .ks-pickUp .ks-pickUp-bgImg {
  top: 32px;
}
html body .ks_main .ks-pickUp article {
  width: 100%;
  margin-top: 13px;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img {
  width: 100%;
  height: 100vw;
  position: relative;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img p {
  width: fit-content;
  background-color: #FFFFFF;
  padding: 5.5px 8px;
  font-family: "ten-mincho-text", serif;
  font-size: 24px;
  color: #6B651B;
  position: absolute;
  top: 24px;
  left: 0;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail {
  width: calc(100% - 32px);
  padding-bottom: 27px;
  margin: 0 auto;
  position: relative;
  transform: translateY(-16px);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail h3 {
  width: calc(100% - 32px);
  border-bottom: solid 0.5px #D8D7CB;
  padding: 16px 0 4px 0;
  margin-left: 16px;
  font-size: 18px;
  line-height: 29.7px;
  color: #414143;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail p {
  width: calc(100% - 32px);
  margin: 4px auto 0 auto;
  color: #414143;
  line-height: 23.1px;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price {
  margin-top: 4px;
  display: flex;
  justify-content: end;
  font-size: 16px;
  color: #414143;
  line-height: 33px;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price span {
  font-size: 20px;
  font-weight: bold;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta {
  width: calc(100% - 32px);
  height: 47px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/09_ks/1_bg.webp);
  background-size: cover;
  background-position: center;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta a {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: solid 0.5px #6B651B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6B651B;
  line-height: 26.4px;
}
html body .ks_main .ks-pickUp article:nth-of-type(1) {
  margin-top: 40px;
}
html body .ks_main .ks-ranking, html body .ks_main .ks-recommend {
  width: calc(100% - 16px);
  padding-bottom: 100px;
  margin: 24px 0 0 16px;
  background-color: #F2F1EA;
}
html body .ks_main .ks-ranking h2, html body .ks_main .ks-recommend h2 {
  padding: 60px 0 0 16px;
  font-family: "ten-mincho-text", serif;
  font-size: 40px;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 40px;
}
html body .ks_main .ks-ranking h2 span, html body .ks_main .ks-recommend h2 span {
  margin-left: 12px;
  font-size: 16px;
  color: #797979;
}
html body .ks_main .ks-ranking .ks-slideX, html body .ks_main .ks-ranking .ks-slideX, html body .ks_main .ks-recommend .ks-slideX, html body .ks_main .ks-recommend .ks-slideX {
  margin: 40px 0 0 16px;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
}
html body .ks_main .ks-ranking .ks-slideX ul, html body .ks_main .ks-ranking .ks-slideX ul, html body .ks_main .ks-recommend .ks-slideX ul, html body .ks_main .ks-recommend .ks-slideX ul {
  width: fit-content;
  padding-right: 16px;
  display: flex;
}
html body .ks_main .ks-ranking .ks-slideX ul li, html body .ks_main .ks-ranking .ks-slideX ul li, html body .ks_main .ks-recommend .ks-slideX ul li, html body .ks_main .ks-recommend .ks-slideX ul li {
  width: 120px;
  margin-left: 16px;
}
html body .ks_main .ks-ranking .ks-slideX ul li a, html body .ks_main .ks-ranking .ks-slideX ul li a, html body .ks_main .ks-recommend .ks-slideX ul li a, html body .ks_main .ks-recommend .ks-slideX ul li a {
  color: #333333;
}
html body .ks_main .ks-ranking .ks-slideX ul li a .ks-ranking-icon, html body .ks_main .ks-ranking .ks-slideX ul li a .ks-ranking-icon, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-ranking-icon, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-ranking-icon {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
html body .ks_main .ks-ranking .ks-slideX ul li a .ks-ranking-icon p, html body .ks_main .ks-ranking .ks-slideX ul li a .ks-ranking-icon p, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-ranking-icon p, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-ranking-icon p {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 19.8px;
  transform: translateY(2px);
  z-index: 1;
}
html body .ks_main .ks-ranking .ks-slideX ul li a .ks-ranking-icon img, html body .ks_main .ks-ranking .ks-slideX ul li a .ks-ranking-icon img, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-ranking-icon img, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-ranking-icon img {
  width: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
html body .ks_main .ks-ranking .ks-slideX ul li a .ks-slideX-item_img, html body .ks_main .ks-ranking .ks-slideX ul li a .ks-slideX-item_img, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-slideX-item_img, html body .ks_main .ks-recommend .ks-slideX ul li a .ks-slideX-item_img {
  width: 100%;
  height: 120px;
  background-color: #D9D9D9;
  margin-top: 8px;
}
html body .ks_main .ks-ranking .ks-slideX ul li a h3, html body .ks_main .ks-ranking .ks-slideX ul li a p, html body .ks_main .ks-ranking .ks-slideX ul li a h3, html body .ks_main .ks-ranking .ks-slideX ul li a p, html body .ks_main .ks-recommend .ks-slideX ul li a h3, html body .ks_main .ks-recommend .ks-slideX ul li a p, html body .ks_main .ks-recommend .ks-slideX ul li a h3, html body .ks_main .ks-recommend .ks-slideX ul li a p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 23.1px;
  white-space: wrap;
}
html body .ks_main .ks-ranking .ks-slideX ul li:nth-of-type(1), html body .ks_main .ks-ranking .ks-slideX ul li:nth-of-type(1), html body .ks_main .ks-recommend .ks-slideX ul li:nth-of-type(1), html body .ks_main .ks-recommend .ks-slideX ul li:nth-of-type(1) {
  margin-left: 0;
}
html body .ks_main .ks-items {
  margin-top: 84px;
}
html body .ks_main .ks-items .category-title h2 {
  padding-left: 16px;
  font-size: 24px;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 39.6px;
}
html body .ks_main .ks-items .category-title .list-head-sort {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 16px;
}
html body .ks_main .ks-items .category-title .list-head-sort dt {
  font-size: 11px;
  line-height: 18.15px;
}
html body .ks_main .ks-items .category-title .list-head-sort dd a {
  font-size: 11px;
  line-height: 18.15px;
}
html body .ks_main .ks-items .item-list {
  width: calc(100% - 32px);
  margin: 40px auto 0 auto;
}
html body .ks_main .ks-items .item-list li {
  margin-top: 24px;
  margin-bottom: 0;
}
html body .ks_main .ks-items .item-list li:nth-of-type(1), html body .ks_main .ks-items .item-list li:nth-of-type(2) {
  margin-top: 0;
}
html body .ks_main .ks-items .pager-wrap {
  width: calc(100% - 32px);
  margin-left: 16px;
}
html body footer {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .ks-sp {
    display: none;
  }
  .ks-pc {
    display: block;
  }
  html body .ks-fv {
    width: calc(100vw - 160px);
    padding-bottom: 60px;
    margin: 20px 80px 0 80px;
  }
  html body .ks-fv .ks-fv_img .ks-fv_img-frame1, html body .ks-fv .ks-fv_img .ks-fv_img-frame2 {
    height: 40px;
  }
  html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
    width: 40px;
  }
  html body .ks_main .ks-about {
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  html body .ks_main .ks-about .ks-about-bgImg {
    width: 400px;
  }
  html body .ks_main .ks-about .ks-about-flex h2 {
    padding-top: 100px;
    margin-left: 0;
  }
  html body .ks_main .ks-about .ks-about-flex .ks-about-copy {
    margin: 24px 0 0 0;
  }
  html body .ks_main .ks-about .ks-about-flex .ks-about-copy p {
    margin-left: 80px;
    font-size: 18px;
  }
  html body .ks_main .ks-pickUp h2 {
    width: calc(100% - 160px);
    margin-left: 80px;
  }
  html body .ks_main .ks-pickUp article {
    width: calc(100% - 160px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img {
    width: 500px;
    height: 500px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img p {
    padding: 0 8px;
    font-size: 32px;
    line-height: 52.8px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-106px, 24px);
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail {
    width: 440px;
    padding-bottom: 0;
    margin: 0;
    transform: translateX(-25px);
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame {
    width: 100%;
    height: 100%;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail h3 {
    padding: 24px 0 8px 0;
    margin-left: 24px;
    font-size: 20px;
    line-height: 33px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail p {
    width: calc(100% - 48px);
    margin: 8px auto 0 auto;
    font-size: 16px;
    line-height: 26.4px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price {
    padding-right: 24px;
    margin-top: 8px;
    font-size: 18px;
    align-items: baseline;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price span {
    margin-right: 6px;
    font-size: 24px;
    line-height: 39.4px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta {
    width: calc(100% - 48px);
    height: 53px;
    margin: 24px auto 0 auto;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta a {
    font-size: 20px;
    line-height: 33px;
  }
}