@charset "UTF-8";
/* --- reset --- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p, div {
  word-break: break-all;
}

a {
  text-decoration: none;
}

input[type=text], select {
  border-radius: 3px;
  border: none;
  padding: 6px;
  font-size: inheirt;
  box-sizing: border-box;
}

input::placeholder {
  color: #B5B5B5;
  font-size: 12px;
}

pre {
  white-space: pre-wrap;
}

.clearfix {
  display: block;
}

.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.bx-wrapper {
  box-shadow: none !important;
}

.bx-controls-direction a {
  z-index: 0 !important;
}

* {
  font-size: 14px;
  font-weight: 400;
}

html, body {
  width: 100vw;
}

.ks-fv, main, section {
  width: 100%;
}

a {
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

h2 {
  font-weight: 400;
}

.ks-pc {
  display: none;
}

.slideIn-up {
  transform: translateY(15px);
  opacity: 0;
}

.slideIn-up-on {
  animation: slideIn-up 1s forwards;
}

@keyframes slideIn-up {
  from {
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeIn-about {
  opacity: 0;
}

.fadeIn-about-on {
  animation: fadeIn-about 2s forwards;
}

@keyframes fadeIn-about {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideIn-left-about {
  transform: translateX(16px);
  opacity: 0;
}

.slideIn-left-about-on {
  animation: slideIn-left-about 1s 0.25s forwards;
}

@keyframes slideIn-left-about {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.fadeIn {
  opacity: 0;
}

.fadeIn-on {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ks-pickUp-item_img-obi-bg-sp-on {
  animation: ks-pickUp-item_img-obi-bg-sp 1s forwards;
}

@keyframes ks-pickUp-item_img-obi-bg-sp {
  0% {
    width: calc(100% - 8px);
    transform: translateX(-100%);
  }
  75% {
    width: calc(100% - 8px);
  }
  100% {
    width: 100%;
    transform: translateX(0);
  }
}
.ks-pickUp-item_img-obi-bg-pc-on {
  animation: ks-pickUp-item_img-obi-bg-pc 1s forwards;
}

@keyframes ks-pickUp-item_img-obi-bg-pc {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.ks-pickUp-item_img-obi_p-on {
  animation: ks-pickUp-item_img-obi_p 1s forwards;
}

@keyframes ks-pickUp-item_img-obi_p {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.ks-pickUp-item_img-obi_span-on {
  animation: ks-pickUp-item_img-obi_span 1s forwards;
}

@keyframes ks-pickUp-item_img-obi_span {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.slideIn-left {
  transform: translateX(16px);
  opacity: 0;
}

.slideIn-left-on {
  animation: slideIn-left 1s forwards;
}

@keyframes slideIn-left {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slideIn-up-pickUp {
  transform: translateY(16px);
  opacity: 0;
}

.slideIn-up-pickUp-on {
  animation: slideIn-up-pickUp 1s forwards;
}

@keyframes slideIn-up-pickUp {
  from {
    transform: translateY(16px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeIn-ranking {
  opacity: 0;
}

.fadeIn-ranking-on {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn-ranking {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideIn-left-ranking {
  transform: translateX(16px);
  opacity: 0;
}

.slideIn-left-ranking-on {
  animation: slideIn-left 2s 0.25s forwards;
}

@keyframes slideIn-left-ranking {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
html body {
  overflow-x: hidden;
}
html body .ks-fv {
  width: calc(100vw - 32px);
  padding-bottom: 46px;
  margin: 16px 16px 16px 16px;
}
html body .ks-fv .ks-fv_img {
  width: 100%;
  height: 400px;
  margin-bottom: 56.5px;
  position: relative;
  /*
      .ks-slick .ks-slick1 .slick-active img {
          transform: scale(1.1);
      }

      .ks-slick .ks-slick2 .slick-active img {
          transform: translateY(-40px);  
      }

      .ks-slick .ks-slick3 .slick-active img {
          transform: translateX(40px);
      }     
  */
}
html body .ks-fv .ks-fv_img .slick-slider {
  height: 100%;
}
html body .ks-fv .ks-fv_img .slick-slider .slick-list {
  height: 100%;
}
html body .ks-fv .ks-fv_img .slick-slider .slick-list .slick-track {
  height: 100%;
}
html body .ks-fv .ks-fv_img .slick-slider .slick-list .slick-track .slick-slide {
  height: 100%;
}
html body .ks-fv .ks-fv_img .slick-slider .slick-list .slick-track .slick-slide img {
  height: 100%;
  object-fit: cover;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1, html body .ks-fv .ks-fv_img .ks-fv_img-frame2 {
  width: 100%;
  height: 32px;
  position: absolute;
  left: 0;
  z-index: 2;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
  content: "";
  width: 32px;
  height: 100%;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1 {
  top: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after {
  top: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before {
  left: 0;
  transform: translate(-50%, -50%);
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after {
  right: 0;
  transform: translate(50%, -50%);
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2 {
  bottom: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
  bottom: 0;
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before {
  left: 0;
  transform: translate(-50%, 50%);
}
html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
  right: 0;
  transform: translate(50%, 50%);
}
html body .ks-fv .ks-fv_img img {
  width: 100%;
  object-fit: cover;
}
html body .ks-fv .ks-fv_img .ks-logo {
  width: 200px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-49.5%, 100%);
  z-index: 1;
}
html body .ks-fv .ks-fv_img .ks-fv_img-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 0;
}
html body .ks-fv p {
  padding-top: 35px;
  font-family: "ten-mincho-text", serif;
  font-size: 18px;
  color: #414143;
  line-height: 27px;
  text-align: center;
}
html body .ks-fv p:nth-of-type(2) {
  padding-top: 0;
  margin-top: 8px;
}
html body .ks_main .ks-about, html body .ks_main .ks-pickUp {
  width: 100%;
  position: relative;
}
html body .ks_main .ks-about .ks-about-bgImg, html body .ks_main .ks-about .ks-pickUp-bgImg, html body .ks_main .ks-pickUp .ks-about-bgImg, html body .ks_main .ks-pickUp .ks-pickUp-bgImg {
  width: 68%;
  position: absolute;
  right: 0;
  z-index: 0;
}
html body .ks_main .ks-about h2, html body .ks_main .ks-pickUp h2 {
  width: calc(100% - 32px);
  padding-top: 60px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "ten-mincho-text", serif;
  font-size: 64px;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 76px;
}
html body .ks_main .ks-about h2 span, html body .ks_main .ks-pickUp h2 span {
  display: block;
  font-family: "ten-mincho-text", serif;
  font-size: 20px;
  color: #797979;
  line-height: 21px;
  writing-mode: vertical-rl;
  z-index: 1;
}
html body .ks_main .ks-about {
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/09_ks/1_bg.webp);
  background-size: cover;
  background-position: center;
  padding-bottom: 60px;
}
html body .ks_main .ks-about .ks-about-bgImg {
  top: 0;
}
html body .ks_main .ks-about .ks-about-copy {
  width: fit-content;
  margin: 24px 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .ks_main .ks-about .ks-about-copy h3 {
  font-family: "ten-mincho-text", serif;
  font-size: 20px;
  color: #797979;
  line-height: 21px;
  writing-mode: vertical-rl;
}
html body .ks_main .ks-about .ks-about-copy p {
  margin-left: 16px;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 16px;
  color: #414143;
  line-height: 200%;
}
html body .ks_main .ks-about .ks-about-copy p span {
  position: relative;
  left: -8px;
}
html body .ks_main .ks-about .ks-about-copy p span span {
  left: -4px;
}
html body .ks_main .ks-pickUp {
  background-color: #F2F1EA;
  padding-bottom: 72px;
}
html body .ks_main .ks-pickUp .ks-pickUp-bgImg {
  top: 32px;
}
html body .ks_main .ks-pickUp article {
  width: 100%;
  margin-top: 52px;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img {
  width: 100%;
  height: 100vw;
  position: relative;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi {
  width: fit-content;
  height: 35px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  left: 0;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-sp {
  width: calc(100% - 8px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-sp div {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi p {
  background-color: #FFFFFF;
  position: relative;
  transform: translateX(-100%);
  overflow: hidden;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi p span {
  display: block;
  font-family: "ten-mincho-text", serif;
  font-size: 24px;
  color: #6B651B;
  transform: translateX(100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail {
  width: calc(100% - 56px);
  height: fit-content;
  background-color: #FFFFFF;
  padding: 4px 4px 15px 4px;
  margin: 0 auto;
  position: relative;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame1, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame3 {
  width: 100%;
  height: 12px;
  background-color: #FFFFFF;
  position: absolute;
  left: 0;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame1 {
  border-top: solid 1px #D8D7CB;
  top: 0;
  transform: translateY(-100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame2, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame4 {
  width: 12px;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame2 {
  border-right: solid 1px #D8D7CB;
  right: 0;
  transform: translateX(100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame3 {
  border-bottom: solid 1px #D8D7CB;
  bottom: 0;
  transform: translateY(100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame4 {
  border-left: solid 1px #D8D7CB;
  left: 0;
  transform: translateX(-100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts1, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts2, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts3, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts4 {
  width: 13px;
  height: 13px;
  position: absolute;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts1 {
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts2 {
  top: 0;
  right: 0;
  transform: translate(100%, -100%) rotate(90deg);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts3 {
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%) rotate(180deg);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts4 {
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%) rotate(270deg);
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail h3 {
  width: 100%;
  border-bottom: solid 0.5px #D8D7CB;
  padding-bottom: 4px;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 18px;
  line-height: 29.7px;
  color: #414143;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail p {
  width: 100%;
  margin-top: 4px;
  font-family: "yu-gothic-pr6n", sans-serif;
  color: #414143;
  line-height: 23.1px;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price {
  margin-top: 4px;
  display: flex;
  justify-content: end;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 16px;
  color: #414143;
  line-height: 33px;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price span {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta {
  width: 100%;
  height: 47px;
  background-image: url(https://gigaplus.makeshop.jp/kitanoace/09_ks/1_bg.webp);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta a {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: solid 0.5px #6B651B;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #6B651B;
  line-height: 26.4px;
  position: relative;
}
html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta a::after {
  content: "";
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-4px, -4px);
  opacity: 0;
}
html body .ks_main .ks-pickUp article:nth-of-type(1) {
  margin-top: 40px;
}
html body .ks_main .ks-ranking, html body .ks_main .ks-recommend {
  width: calc(100% - 16px);
  padding-bottom: 100px;
  margin: 24px 0 0 16px;
  background-color: #F8F4E9;
  overflow-x: hidden;
  /*スクロールバー非表示（Chrome・Safari）*/
}
html body .ks_main .ks-ranking h2, html body .ks_main .ks-recommend h2 {
  padding: 60px 0 0 16px;
  font-family: "ten-mincho-text", serif;
  font-size: 40px;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 40px;
}
html body .ks_main .ks-ranking h2 span, html body .ks_main .ks-recommend h2 span {
  margin-left: 12px;
  font-size: 16px;
  color: #797979;
}
html body .ks_main .ks-ranking .ks-slideX-sp, html body .ks_main .ks-recommend .ks-slideX-sp {
  padding-bottom: 40px;
  margin: 40px 0 0 16px;
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}
html body .ks_main .ks-ranking .ks-slideX-sp .scroll__inner, html body .ks_main .ks-recommend .ks-slideX-sp .scroll__inner {
  -ms-overflow-style: none;
  /* IE, Edge 対応 */
  scrollbar-width: none;
  /* Firefox 対応 */
}
html body .ks_main .ks-ranking .ks-slideX-sp .scroll__inner::-webkit-scrollbar, html body .ks_main .ks-recommend .ks-slideX-sp .scroll__inner::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-scrollbar::before, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-scrollbar::before {
  background: #6B651B;
  height: 4px !important;
  margin-left: 0;
  margin-top: 0;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-scrollbar.simplebar-visible::before, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-track, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-track {
  width: calc(100% - 16px);
  background: #C7C7C7;
  height: 4px !important;
  border-radius: 2px;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-track.simplebar-horizontal .simplebar-scrollbar, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  left: 0;
  top: 0;
  height: 4px;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-scrollbar::before, html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-scrollbar::before, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-scrollbar::before, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-scrollbar::before {
  border-radius: 2px;
  height: 4px !important;
  margin-left: 0;
  margin-top: 0;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  left: 0;
  right: 0;
}
html body .ks_main .ks-ranking .ks-slideX-sp .simplebar-scrollbar:before, html body .ks_main .ks-recommend .ks-slideX-sp .simplebar-scrollbar:before {
  left: 0;
  right: 0;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul, html body .ks_main .ks-recommend .ks-slideX-sp ul {
  width: fit-content;
  padding-right: 16px;
  display: flex;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li, html body .ks_main .ks-recommend .ks-slideX-sp ul li {
  width: 120px;
  margin-left: 16px;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li a, html body .ks_main .ks-recommend .ks-slideX-sp ul li a {
  color: #333333;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li a .ks-ranking-icon, html body .ks_main .ks-recommend .ks-slideX-sp ul li a .ks-ranking-icon {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li a .ks-ranking-icon p, html body .ks_main .ks-recommend .ks-slideX-sp ul li a .ks-ranking-icon p {
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 19.8px;
  transform: translateY(2px);
  z-index: 1;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li a .ks-ranking-icon img, html body .ks_main .ks-recommend .ks-slideX-sp ul li a .ks-ranking-icon img {
  width: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li a .ks-slideX-item_img, html body .ks_main .ks-recommend .ks-slideX-sp ul li a .ks-slideX-item_img {
  width: 100%;
  height: 120px;
  margin-top: 8px;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li a h3, html body .ks_main .ks-ranking .ks-slideX-sp ul li a p, html body .ks_main .ks-recommend .ks-slideX-sp ul li a h3, html body .ks_main .ks-recommend .ks-slideX-sp ul li a p {
  margin-top: 8px;
  font-family: "yu-gothic-pr6n", sans-serif;
  font-size: 14px;
  line-height: 23.1px;
  white-space: wrap;
}
html body .ks_main .ks-ranking .ks-slideX-sp ul li:nth-of-type(1), html body .ks_main .ks-recommend .ks-slideX-sp ul li:nth-of-type(1) {
  margin-left: 0;
}
html body .ks_main .ks-ranking .ks-slideX-sp::-webkit-scrollbar, html body .ks_main .ks-recommend .ks-slideX-sp::-webkit-scrollbar {
  display: none;
}
html body .ks_main .ks-items {
  margin-top: 84px;
}
html body .ks_main .ks-items .category-title h2 {
  padding-left: 16px;
  font-size: 24px;
  color: #414143;
  letter-spacing: 0.04em;
  line-height: 39.6px;
}
html body .ks_main .ks-items .category-title .list-head-sort {
  margin-top: 40px;
  margin-bottom: 0;
  margin-left: 16px;
}
html body .ks_main .ks-items .category-title .list-head-sort dt {
  font-size: 11px;
  line-height: 18.15px;
}
html body .ks_main .ks-items .category-title .list-head-sort dd a {
  font-size: 11px;
  line-height: 18.15px;
}
html body .ks_main .ks-items .item-list {
  width: calc(100% - 32px);
  margin: 40px auto 0 auto;
}
html body .ks_main .ks-items .item-list li {
  margin-top: 24px;
  margin-bottom: 0;
}
html body .ks_main .ks-items .item-list li:nth-of-type(1), html body .ks_main .ks-items .item-list li:nth-of-type(2) {
  margin-top: 0;
}
html body .ks_main .ks-items .pager-wrap {
  width: calc(100% - 32px);
  margin: 24px 0 0 16px;
}
html body footer {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .ks-sp {
    display: none;
  }
  .ks-pc {
    display: block;
  }
  html body .ks-fv {
    width: calc(100vw - 160px);
    padding-bottom: 60px;
    margin: 167.5px 80px 0 80px;
  }
  html body .ks-fv .ks-fv_img .ks-fv_img-frame1, html body .ks-fv .ks-fv_img .ks-fv_img-frame2 {
    height: 40px;
  }
  html body .ks-fv .ks-fv_img .ks-fv_img-frame1::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame1::after, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::before, html body .ks-fv .ks-fv_img .ks-fv_img-frame2::after {
    width: 40px;
  }
  html body .ks_main .ks-about {
    width: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  html body .ks_main .ks-about .ks-about-bgImg {
    width: 400px;
  }
  html body .ks_main .ks-about .ks-about-flex h2 {
    padding-top: 100px;
    margin-left: 0;
  }
  html body .ks_main .ks-about .ks-about-flex .ks-about-copy {
    margin: 24px 0 0 0;
  }
  html body .ks_main .ks-about .ks-about-flex .ks-about-copy p {
    margin-left: 80px;
    font-size: 18px;
  }
  html body .ks_main .ks-pickUp {
    padding-bottom: 100px;
  }
  html body .ks_main .ks-pickUp h2 {
    width: calc(100% - 160px);
    margin-left: 80px;
  }
  html body .ks_main .ks-pickUp .ks-pickUp-bgImg {
    width: 600px;
    top: 32px;
  }
  html body .ks_main .ks-pickUp article {
    width: calc(100% - 160px);
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img {
    width: 500px;
    height: 500px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi {
    height: 47px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-sp div {
    background-color: transparent;
    transform: translateX(100%);
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-pc {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: -106px;
    overflow: hidden;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-pc div {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi p {
    background-color: transparent;
    left: -106px;
    transform: translateX(-100%);
    overflow: hidden;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item_img .ks-pickUp-item_img-obi p span {
    background-color: #FFFFFF;
    font-size: 32px;
    transform: translateX(100%);
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail {
    width: 440px;
    padding: 8px 8px 15px 8px;
    margin: 0;
    transform: translateX(-25px);
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame1, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame3 {
    height: 16px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame2, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame4 {
    width: 16px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts1, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts2, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts3, html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-detail-frame-parts4 {
    width: 17px;
    height: 17px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail h3 {
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 33px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail p {
    margin-top: 8px;
    font-size: 16px;
    line-height: 26.4px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price {
    margin-top: 8px;
    font-size: 18px;
    align-items: baseline;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-price span {
    margin-right: 6px;
    font-size: 24px;
    line-height: 39.4px;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta {
    height: 53px;
    margin: 24px auto 0 auto;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta a::after {
    transition-duration: 0.25s;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta:hover a::after {
    opacity: 1;
  }
  html body .ks_main .ks-pickUp article .ks-pickUp-item-detail .ks-pickUp-item-cta a {
    font-size: 20px;
    line-height: 33px;
  }
  html body .ks_main .ks-pickUp article:nth-of-type(1) {
    margin-top: 60px;
  }
  html body .ks_main .ks-pickUp article:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  html body .ks_main .ks-pickUp article:nth-of-type(2) .ks-pickUp-item_img .ks-pickUp-item_img-obi {
    left: initial;
    right: -106px;
  }
  html body .ks_main .ks-pickUp article:nth-of-type(2) .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-pc {
    left: initial;
    right: 0;
  }
  html body .ks_main .ks-pickUp article:nth-of-type(2) .ks-pickUp-item_img .ks-pickUp-item_img-obi .ks-pickUp-item_img-obi-bg-pc-on {
    display: none;
  }
  html body .ks_main .ks-pickUp article:nth-of-type(2) .ks-pickUp-item_img .ks-pickUp-item_img-obi p {
    left: initial;
    right: 0;
  }
  html body .ks_main .ks-ranking, html body .ks_main .ks-recommend {
    width: calc(100% - 80px);
    margin: 40px auto 0 auto;
    position: relative;
  }
  html body .ks_main .ks-ranking h2, html body .ks_main .ks-recommend h2 {
    padding: 60px 0 0 40px;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev, html body .ks_main .ks-ranking .ks-arrow-next, html body .ks_main .ks-recommend .ks-arrow-prev, html body .ks_main .ks-recommend .ks-arrow-next {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev .ks-arrow-prev1, html body .ks_main .ks-ranking .ks-arrow-prev .ks-arrow-prev2, html body .ks_main .ks-ranking .ks-arrow-next .ks-arrow-prev1, html body .ks_main .ks-ranking .ks-arrow-next .ks-arrow-prev2, html body .ks_main .ks-recommend .ks-arrow-prev .ks-arrow-prev1, html body .ks_main .ks-recommend .ks-arrow-prev .ks-arrow-prev2, html body .ks_main .ks-recommend .ks-arrow-next .ks-arrow-prev1, html body .ks_main .ks-recommend .ks-arrow-next .ks-arrow-prev2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev .ks-arrow-prev2, html body .ks_main .ks-ranking .ks-arrow-next .ks-arrow-prev2, html body .ks_main .ks-recommend .ks-arrow-prev .ks-arrow-prev2, html body .ks_main .ks-recommend .ks-arrow-next .ks-arrow-prev2 {
    transform: rotate(180deg);
  }
  html body .ks_main .ks-ranking .ks-arrow-prev .ks-arrow-next1, html body .ks_main .ks-ranking .ks-arrow-prev .ks-arrow-next2, html body .ks_main .ks-ranking .ks-arrow-next .ks-arrow-next1, html body .ks_main .ks-ranking .ks-arrow-next .ks-arrow-next2, html body .ks_main .ks-recommend .ks-arrow-prev .ks-arrow-next1, html body .ks_main .ks-recommend .ks-arrow-prev .ks-arrow-next2, html body .ks_main .ks-recommend .ks-arrow-next .ks-arrow-next1, html body .ks_main .ks-recommend .ks-arrow-next .ks-arrow-next2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev .ks-arrow-next1, html body .ks_main .ks-ranking .ks-arrow-next .ks-arrow-next1, html body .ks_main .ks-recommend .ks-arrow-prev .ks-arrow-next1, html body .ks_main .ks-recommend .ks-arrow-next .ks-arrow-next1 {
    transform: rotate(180deg);
  }
  html body .ks_main .ks-ranking .ks-arrow-prev, html body .ks_main .ks-recommend .ks-arrow-prev {
    left: 8px;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev-on, html body .ks_main .ks-recommend .ks-arrow-prev-on {
    cursor: initial;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev-on .ks-arrow-next2, html body .ks_main .ks-recommend .ks-arrow-prev-on .ks-arrow-next2 {
    display: block;
  }
  html body .ks_main .ks-ranking .ks-arrow-prev-on .ks-arrow-prev2, html body .ks_main .ks-recommend .ks-arrow-prev-on .ks-arrow-prev2 {
    display: none;
  }
  html body .ks_main .ks-ranking .ks-arrow-next, html body .ks_main .ks-recommend .ks-arrow-next {
    right: 8px;
  }
  html body .ks_main .ks-ranking .ks-arrow-next-on, html body .ks_main .ks-recommend .ks-arrow-next-on {
    cursor: initial;
  }
  html body .ks_main .ks-ranking .ks-arrow-next-on .ks-arrow-next1, html body .ks_main .ks-recommend .ks-arrow-next-on .ks-arrow-next1 {
    display: block;
  }
  html body .ks_main .ks-ranking .ks-arrow-next-on .ks-arrow-next2, html body .ks_main .ks-recommend .ks-arrow-next-on .ks-arrow-next2 {
    display: none;
  }
  html body .ks_main .ks-ranking .ks-slideX-sp, html body .ks_main .ks-recommend .ks-slideX-sp {
    display: none;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc, html body .ks_main .ks-recommend .ks-slideX-pc {
    overflow-x: hidden;
    width: calc(100% - 80px);
    margin: 40px auto 0 auto;
    display: flex;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 {
    display: flex;
    justify-content: space-between;
    transition-duration: 1s;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li {
    margin-left: 16px;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a {
    color: #333333;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a .ks-ranking-icon, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a .ks-ranking-icon, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a .ks-ranking-icon, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a .ks-ranking-icon {
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a .ks-ranking-icon p, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a .ks-ranking-icon p, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a .ks-ranking-icon p, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a .ks-ranking-icon p {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 19.8px;
    transform: translateY(2px);
    z-index: 1;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a .ks-ranking-icon img, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a .ks-ranking-icon img, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a .ks-ranking-icon img, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a .ks-ranking-icon img {
    width: 32px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a .ks-slideX-item_img, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a .ks-slideX-item_img, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a .ks-slideX-item_img, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a .ks-slideX-item_img {
    width: 14vw;
    height: 14vw;
    margin-top: 8px;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a h3, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li a p, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a h3, html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li a p, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a h3, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li a p, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a h3, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li a p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 23.1px;
    white-space: wrap;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1 li:nth-of-type(1), html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul2 li:nth-of-type(1), html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 li:nth-of-type(1), html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul2 li:nth-of-type(1) {
    margin-left: 0;
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul1, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul1 {
    transform: translateX(-100vw);
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul-on1, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul-on1 {
    margin-right: 155px;
    transform: translateX(0);
  }
  html body .ks_main .ks-ranking .ks-slideX-pc .ks-slide-ul-on2, html body .ks_main .ks-recommend .ks-slideX-pc .ks-slide-ul-on2 {
    margin-left: 155px;
    transform: translateX(-100vw);
  }
  html body .ks_main .ks-items .category-title {
    display: initial;
  }
  html body .ks_main .ks-items .category-title h2 {
    padding-left: 80px;
  }
  html body .ks_main .ks-items .category-title .list-head-sort {
    margin-left: 80px;
  }
  html body .ks_main .ks-items .item-list {
    width: calc(100% - 160px);
  }
  html body .ks_main .ks-items .item-list li {
    width: calc((100% - 80px) / 6);
    margin-top: 40px;
    margin-right: 0;
    margin-left: 16px;
  }
  html body .ks_main .ks-items .item-list li:nth-of-type(1), html body .ks_main .ks-items .item-list li:nth-of-type(2), html body .ks_main .ks-items .item-list li:nth-of-type(3), html body .ks_main .ks-items .item-list li:nth-of-type(4), html body .ks_main .ks-items .item-list li:nth-of-type(5), html body .ks_main .ks-items .item-list li:nth-of-type(6) {
    margin-top: 0;
  }
  html body .ks_main .ks-items .item-list li:nth-of-type(1), html body .ks_main .ks-items .item-list li:nth-of-type(7), html body .ks_main .ks-items .item-list li:nth-of-type(13), html body .ks_main .ks-items .item-list li:nth-of-type(19), html body .ks_main .ks-items .item-list li:nth-of-type(25), html body .ks_main .ks-items .item-list li:nth-of-type(31), html body .ks_main .ks-items .item-list li:nth-of-type(37), html body .ks_main .ks-items .item-list li:nth-of-type(43), html body .ks_main .ks-items .item-list li:nth-of-type(49) {
    margin-left: 0;
  }
  html body .ks_main .ks-items .pager-wrap {
    width: calc(100% - 160px);
    margin: 40px auto 0 auto;
  }
}