@import './base';

.ks-pc {
    display: none;
}

.slideIn-up-fv_p {

    p {
        transform: translateY(15px);
        opacity: 0;    
    }
}
.slideIn-up-fv_p-on {
    
    p:nth-of-type(1) {
        animation: slideIn-up-fv_p1 1s forwards;
    }

    p:nth-of-type(2) {
        animation: slideIn-up-fv_p2 1s 1s forwards;
    }
}
@keyframes slideIn-up-fv_p1 {
                
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;    
    }
}
@keyframes slideIn-up-fv_p2 {
                
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;    
    }
}

.slideIn-up {
    transform: translateY(15px);
    opacity: 0;
}
.slideIn-up-on {
    animation: slideIn-up 1s forwards;
}
@keyframes slideIn-up {
                
    from {
        transform: translateY(15px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;    
    }
}

.fadeIn-about {
    opacity: 0;
}
.fadeIn-about-on {
    animation: fadeIn-about 2s forwards;
}
@keyframes fadeIn-about {
                
    from {
        opacity: 0;
    }

    to {
        opacity: 1;    
    }
}

.slideIn-left-about {
    transform: translateX(16px);
    opacity: 0;
}
.slideIn-left-about-on {
    animation: slideIn-left-about 1s .25s forwards;
}
@keyframes slideIn-left-about {
                
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;    
    }
}

.fadeIn {
    opacity: 0;
}
.fadeIn-on {
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
                
    from {
        opacity: 0;
    }

    to {
        opacity: 1;    
    }
}

.ks-pickUp-item_img-obi-bg-sp-on {
    animation: ks-pickUp-item_img-obi-bg-sp 1s forwards;   
}
@keyframes ks-pickUp-item_img-obi-bg-sp {
                                
    0% {
        width: calc(100% - 8px);
        transform: translateX(-100%);
    }

    75% {
        width: calc(100% - 8px);  
    }

    100% {
        width: 100%;
        transform: translateX(0);
    }
}

.ks-pickUp-item_img-obi-bg-pc-on {
    animation: ks-pickUp-item_img-obi-bg-pc 1s forwards;   
}
@keyframes ks-pickUp-item_img-obi-bg-pc {
                                
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.ks-pickUp-item_img-obi_p-on {
    animation: ks-pickUp-item_img-obi_p 1s forwards;   
}
@keyframes ks-pickUp-item_img-obi_p {
    
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.ks-pickUp-item_img-obi_span-on {
    animation: ks-pickUp-item_img-obi_span 1s forwards;   
}
@keyframes ks-pickUp-item_img-obi_span {
    
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.slideIn-left {
    transform: translateX(16px);
    opacity: 0;
}
.slideIn-left-on {
    animation: slideIn-left 1s forwards;
}
@keyframes slideIn-left {
                
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;    
    }
}

.slideIn-up-pickUp {
    transform: translateY(16px);
    opacity: 0;
}
.slideIn-up-pickUp-on {
    animation: slideIn-up-pickUp 1s forwards;
}
@keyframes slideIn-up-pickUp {
                
    from {
        transform: translateY(16px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;    
    }
}

.fadeIn-ranking {
    opacity: 0;
}
.fadeIn-ranking-on {
    animation: fadeIn 2s forwards;
}
@keyframes fadeIn-ranking {
                
    from {
        opacity: 0;
    }

    to {
        opacity: 1;    
    }
}

.slideIn-left-ranking {
    transform: translateX(16px);
    opacity: 0;
}
.slideIn-left-ranking-on {
    animation: slideIn-left 2s .25s forwards;
}
@keyframes slideIn-left-ranking {
                
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;    
    }
}

html {

    body {
        overflow-x: hidden;
  
        .ks-fv {
            width: calc(100vw - 32px);
            margin: 16px 16px 0 16px;

            .ks-fv_img {
                width: calc(100vw - 32px);
                height: 400px;
                margin-bottom: 56.5px;
                position: fixed;
                top: calc(97.5px + 16px);
                left: 16px;

                /*
                    .ks-slick .ks-slick1 .slick-active img {
                        transform: scale(1.1);
                    }
                    
                    .ks-slick .ks-slick2 .slick-active img {
                        transform: translateY(-40px);  
                    }
                    
                    .ks-slick .ks-slick3 .slick-active img {
                        transform: translateX(40px);
                    }     
                */           

                .slick-slider {
                    height: 100%;

                    .slick-list {
                        height: 100%;

                        .slick-track {
                            height: 100%;

                            .slick-slide {
                                height: 100%;

                                img {
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .ks-fv_img-frame1, .ks-fv_img-frame2 {
                    width: 100%;
                    height: 32px;
                    position: absolute;
                    left: 0;
                    z-index: 2;

                    &::before, &::after {
                        content: '';
                        width: 32px;
                        height: 100%;
                        border-radius: 50%;
                        background-color: $white;
                        position: absolute;
                    }
                }

                .ks-fv_img-frame1 {
                    top: 0;

                    &::before, &::after {
                        top: 0;
                    }

                    &::before {
                        left: 0;
                        transform: translate(-50%, -50%);
                    }

                    &::after {
                        right: 0;
                        transform: translate(50%, -50%);
                    }
                }

                .ks-fv_img-frame2 {
                    bottom: 0;

                    &::before, &::after {
                        bottom: 0;
                    }

                    &::before {
                        left: 0;
                        transform: translate(-50%, 50%);
                    }

                    &::after {
                        right: 0;
                        transform: translate(50%, 50%);
                    }
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .ks-fv-con {
                width: 100%;
                height: fit-content;
                padding-bottom: 60px;
                margin-top: 400px;
                position: relative;

                &::after {
                    content: '';
                    width: 100vw;
                    height: 100%;
                    background-color: $white;
                    @include absolute;
                    transform: translate(-16px, 16px);
                    z-index: 0;
                }

                .ks-fv-con_img {
                    @include center;

                    .ks-logo {
                        width: 200px;
                        z-index: 1;
                    }
    
                    .ks-fv_img-circle {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        background-color: $white;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -12px);
                        z-index: 0;
                    }    
                }

                .ks-fv_p {
                    position: relative;
                    z-index: 1;
                 
                    p {
                        margin-top: 35px;
                        font-family: $tenMinchoText;
                        font-size: 18px;
                        color: $black1;
                        line-height: 27px;
                        text-align: center;
                    }           
        
                    p:nth-of-type(2) {
                        margin-top: 8px;
                    }
                }             
            }
        }

        .ks_main {
            background-color: $white;
            position: relative;
            z-index: 1;

            .ks-about, .ks-pickUp {
                width: 100%;
                position: relative;
    
                .ks-about-bgImg, .ks-pickUp-bgImg {
                    width: 68%;
                    position: absolute;
                    right: 0;
                    z-index: 0;
                }
                
                h2 {
                    width: calc(100% - 32px);
                    padding-top: 60px;
                    margin-left: 16px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: $tenMinchoText;
                    font-size: 64px;
                    color: $black1;
                    letter-spacing: .04em;
                    line-height: 76px;
    
                    span {
                        display: block;
                        font-family: $tenMinchoText;
                        font-size: 20px;
                        color: $black2;
                        line-height: 21px;
                        writing-mode: vertical-rl;
                        z-index: 1;
                    }
                }
            }
    
            .ks-about {
                background-image: url('https://gigaplus.makeshop.jp/kitanoace/09_ks/assets/img/1_bg-re2.webp');
                @include bg;
                padding-bottom: 60px;
                position: relative;
    
                .ks-about-bgImg {
                    top: 0;
                }
    
                .ks-about-copy {
                    width: fit-content;
                    margin: 24px 0 0 16px;
                    @include center;
    
                    h3 {
                        font-family: $tenMinchoText;
                        font-size: 20px;
                        color: $black2;
                        line-height: 21px;
                        writing-mode: vertical-rl;
                    }
    
                    p {
                        margin-left: 16px;
                        font-family: "yu-gothic-pr6n", sans-serif;
                        font-size: 16px;
                        color: $black1;
                        line-height: 200%;      
    
                        span {
                            position: relative;
                            left: -8px;
    
                            span {
                                left: -4px;
                            }
                        }
                    }
                }
            }
    
            .ks-pickUp {
                background-color: $beige1;
                padding-bottom: calc(60px + 12px);
    
                .ks-pickUp-bgImg {
                    top: 32px;
                }
    
                article {
                    width: 100%;
                    margin-top: calc(40px + 12px);
    
                    .ks-pickUp-item_img {
                        width: 100%;
                        height: 100vw;
                        position: relative;

                        .ks-pickUp-item_img-obi {
                            width: fit-content;
                            height: 35px;
                            padding: 0 8px;
                            @include center;
                            position: absolute;
                            top: 24px;
                            left: 0;  

                            .ks-pickUp-item_img-obi-bg-sp {
                                width: calc(100% - 8px);
                                height: 100%;
                                @include absolute;
                                overflow: hidden;

                                div {
                                    width: 100%;
                                    height: 100%;  
                                    background-color: $white;  
                                    transform: translateX(100%); 
                                }
                            }

                            p {
                                height: 100%;
                                background-color: $white;
                                position: relative;
                                transform: translateX(-100%);
                                overflow: hidden;     
    
                                span {
                                    display: block;
                                    font-family: $tenMinchoText;
                                    font-size: 24px;
                                    color: $green;   
                                    transform: translateX(100%); 
                                }
                            }
                        }
        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }    
    
                    .ks-pickUp-item-detail {
                        width: calc(100% - 56px);
                        height: fit-content;
                        background-color: $white;
                        padding: 4px 4px 15px 4px;
                        margin: 0 auto;
                        position: relative;

                        .ks-detail-frame1, .ks-detail-frame3 {
                            width: 100%;
                            height: 12px;
                            background-color: $white;
                            position: absolute;
                            left: 0;
                        }

                        .ks-detail-frame1 {
                            border-top: solid 1px $grey;
                            top: 0;
                            transform: translateY(-100%);
                        }

                        .ks-detail-frame2, .ks-detail-frame4 {
                            width: 12px;
                            height: 100%;
                            background-color: $white;
                            position: absolute;
                            top: 0;
                        }

                        .ks-detail-frame2 {
                            border-right: solid 1px $grey;
                            right: 0;
                            transform: translateX(100%);
                        }

                        .ks-detail-frame3 {
                            border-bottom: solid 1px $grey;
                            bottom: 0;
                            transform: translateY(100%);
                        }

                        .ks-detail-frame4 {
                            border-left: solid 1px $grey;
                            left: 0;
                            transform: translateX(-100%);
                        }

                        .ks-detail-frame-parts1, .ks-detail-frame-parts2, .ks-detail-frame-parts3, .ks-detail-frame-parts4 {
                            width: 13px;
                            height: 13px;
                            position: absolute;
                        }

                        .ks-detail-frame-parts1 {
                            top: 0;
                            left: 0;
                            transform: translate(-100%, -100%);    
                        }   
                        
                        .ks-detail-frame-parts2 {
                            top: 0;
                            right: 0;
                            transform: translate(100%, -100%) rotate(90deg);
                        }

                        .ks-detail-frame-parts3 {
                            bottom: 0;
                            right: 0;
                            transform: translate(100%, 100%) rotate(180deg);
                        }

                        .ks-detail-frame-parts4 {
                            bottom: 0;
                            left: 0;
                            transform: translate(-100%, 100%) rotate(270deg);
                        }
    
                        h3 {
                            width: 100%;
                            border-bottom: solid .5px $grey;
                            padding-bottom: 4px;
                            font-family: "yu-gothic-pr6n", sans-serif;
                            font-size: 18px;
                            line-height: 29.7px;
                            color: $black1;
                        }
    
                        p {
                            width: 100%;
                            margin-top: 4px;
                            font-family: "yu-gothic-pr6n", sans-serif;
                            color: $black1;
                            line-height: 23.1px;
                        }
    
                        .ks-pickUp-item-price {
                            margin-top: 4px;
                            display: flex;
                            justify-content: end;
                            font-family: "yu-gothic-pr6n", sans-serif;
                            font-size: 16px;
                            color: $black1;
                            line-height: 33px;
    
                            span {
                                margin: 0 4px;
                                font-family: "yu-gothic-pr6n", sans-serif;
                                font-size: 20px;
                                font-weight: bold;
                            }
                        }
    
                        .ks-pickUp-item-cta {
                            width: 100%;
                            height: 47px;
                            border: solid 1px $green;
                            background-image: url('https://gigaplus.makeshop.jp/kitanoace/09_ks/assets/img/1_bg-re2.webp');
                            @include bg;
                            margin-top: 20px;
                            @include center;
                            position: relative;
    
                            a {
                                width: calc(100% - 8px);
                                height: calc(100% - 8px);
                                border: solid .5px $green;
                                @include center;
                                font-family: "yu-gothic-pr6n", sans-serif;
                                font-size: 16px;
                                font-weight: bold;
                                color: $green;
                                line-height: 26.4px;
                                position: relative;

                                &::after {
                                    content: '';
                                    width: calc(100% + 8px);
                                    height: calc(100% + 8px);
                                    background-color: $white-a2;
                                    @include absolute;
                                    transform: translate(-4px, -4px);
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
    
                article:nth-of-type(1) {
                    margin-top: 40px;
                }
            }
    
            .ks-ranking, .ks-recommend {
                width: calc(100% - 16px);
                padding-bottom: 100px;
                margin: 24px 0 0 16px;
                background-color: $beige2;
                overflow-x: hidden;
    
                h2 {
                    padding: 60px 0 0 16px;
                    font-family: $tenMinchoText;
                    font-size: 40px;
                    color: $black1;
                    letter-spacing: .04em;
                    line-height: 40px;
    
                    span {
                        margin-left: 12px;
                        font-size: 16px;
                        color: $black2;
                    }
                }
    
                .ks-slideX-sp {
                    padding-bottom: 40px;
                    margin: 40px 0 0 16px;
                    display: flex;
                    overflow-x: scroll;
                    white-space: nowrap;
                    /*スクロールバー非表示（IE・Edge）*/
                    -ms-overflow-style: none;
                    /*スクロールバー非表示（Firefox）*/
                    scrollbar-width: none;

                    .scroll__inner {
                        -ms-overflow-style: none;
                        /* IE, Edge 対応 */
                        scrollbar-width: none;
                        /* Firefox 対応 */
                    }
                    .scroll__inner::-webkit-scrollbar {
                        /* Chrome, Safari 対応 */
                        display: none;
                    }
                    .simplebar-scrollbar::before {
                        background: $green;
                        height: 4px !important;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    .simplebar-scrollbar.simplebar-visible::before {
                        opacity: 1;
                    }
                    .simplebar-track {
                        width: calc(100% - 16px);
                        background: $grey2;
                        height: 4px !important;
                        border-radius: 2px;
                    }
                    .simplebar-track.simplebar-horizontal .simplebar-scrollbar {
                        left: 0;
                        top: 0;
                        height: 4px;
                    }
                    .simplebar-scrollbar::before, .simplebar-scrollbar::before {
                        border-radius: 2px;
                        height: 4px !important;
                        margin-left: 0;
                        margin-top: 0;
                    }
                    .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
                        left: 0;
                        right: 0;
                    }
                    .simplebar-scrollbar:before {
                        left: 0;
                        right: 0;
                    }
    
                    ul {
                        width: fit-content;
                        padding-right: 16px;
                        display: flex;
        
                        li {
                            width: 120px;
                            margin-left: 16px;
    
                            a {
                                color: #333333;
    
                                .ks-ranking-icon {
                                    width: 100%;
                                    height: 26px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: end;
                                    position: relative;
            
                                    p {
                                        font-family: "yu-gothic-pr6n", sans-serif;
                                        font-size: 12px;
                                        font-weight: bold;
                                        color: $white;    
                                        line-height: 19.8px;
                                        transform: translateY(2px);
                                        z-index: 1;
                                    }
            
                                    img {
                                        width: 32px;
                                        position: absolute;
                                        top: 0;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        z-index: 0;
                                    }
                                }
            
                                .ks-slideX-item_img {
                                    width: 100%;
                                    height: 120px;
                                    margin-top: 8px;
                                }
            
                                h3, p {
                                    margin-top: 8px;
                                    font-family: "yu-gothic-pr6n", sans-serif;
                                    font-size: 14px;
                                    line-height: 23.1px;
                                    white-space: wrap;
                                }    
                            }
                        }
    
                        li:nth-of-type(1) {
                            margin-left: 0;
                        }
                    }    
                }

                /*スクロールバー非表示（Chrome・Safari）*/
                .ks-slideX-sp::-webkit-scrollbar{
                    display:none;
                }
            }
    
            .ks-items {
                margin-top: 84px;
    
                .category-title {
    
                    h2 {
                        padding-left: 16px;
                        font-size: 24px;
                        color: $black1;
                        letter-spacing: .04em;
                        line-height: 39.6px;
                    }
    
                    .list-head-sort {
                        margin-top: 40px;
                        margin-bottom: 0;
                        margin-left: 16px;
    
                        dt {
                            font-size: 11px;
                            line-height: 18.15px;
                        }
    
                        dd {
    
                            a {
                                font-size: 11px;
                                line-height: 18.15px;
                            }
                        }
                    }
                }
    
                .item-list {
                    width: calc(100% - 32px);
                    margin: 40px auto 0 auto;
    
                    li {
                        margin-top: 24px;
                        margin-bottom: 0;
                    }
    
                    li:nth-of-type(1), li:nth-of-type(2) {
                        margin-top: 0;
                    }
                }
    
                .pager-wrap {
                    width: calc(100% - 32px);
                    margin: 24px 0 0 16px;
                }
            }    
        }

        footer {
            margin-top: 60px;
        }
    }
}

@media screen and (min-width: 768px) {

    .ks-sp {
        display: none;
    }

    .ks-pc {
        display: block;
    }
    
    html {

        body {

            .ks-fv {
                width: calc(100vw - 160px);
                margin: 167.5px 80px 0 80px;

                .ks-fv_img {
                    width: calc(100vw - 160px);
                    height: calc((100vw - 160px) * .36);
                    top: calc(147.5px + 16px);
                    left: 80px;    

                    .ks-fv_img-frame1, .ks-fv_img-frame2 {
                        height: 40px;

                        &::before, &::after {
                            width: 40px;
                        }
                    }
                }

                .ks-fv-con {
                    // margin-top: calc((147.5px + 400px));
                    margin-top: calc(((100vw - 160px) * .36) + 147.5px);

                    &::after {
                        transform: translate(-80px, 16px);
                    }
                }
            }

            .ks_main {

                .ks-about {
                    width: 100%;
                    padding-bottom: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .ks-about-bgImg {
                        width: 400px;
                    }

                    .ks-about-flex {

                        h2 {
                            padding-top: 100px;
                            margin-left: 0;
                        }
    
                        .ks-about-copy {
                            margin: 24px 0 0 0;
    
                            p {
                                margin-left: 80px;
                                font-size: 18px;
                            }
                        }    
                    }
                }

                .ks-pickUp {
                    padding-bottom: 100px;

                    h2 {
                        width: calc(100% - 160px);
                        margin-left: 80px;
                    }

                    .ks-pickUp-bgImg {
                        width: 600px;
                        top: 32px;
                    }

                    article {
                        width: calc(100% - 160px);
                        margin: 60px auto 0 auto;
                        @include center;

                        .ks-pickUp-item_img {
                            width: 500px;
                            height: 500px;

                            .ks-pickUp-item_img-obi {
                                height: 47px;
    
                                .ks-pickUp-item_img-obi-bg-sp {
    
                                    div { 
                                        background-color: transparent;
                                        transform: translateX(100%); 
                                    }
                                }

                                .ks-pickUp-item_img-obi-bg-pc {
                                    width: 0;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: -106px;
                                    overflow: hidden;
    
                                    div {
                                        width: 100%;
                                        height: 100%;  
                                        background-color: $white;  
                                    }
                                }    
    
                                p {
                                    background-color: transparent;
                                    left: -106px;
                                    transform: translateX(-100%);
                                    overflow: hidden;     
        
                                    span {
                                        background-color: $white;
                                        font-size: 32px;
                                        transform: translateX(100%); 
                                    }
                                }
                            }
                        }

                        .ks-pickUp-item-detail {
                            width: 440px;
                            padding: 8px 8px 15px 8px;
                            margin: 0;
                            transform: translateX(-25px);

                            .ks-detail-frame1, .ks-detail-frame3 {
                                height: 16px;
                            }    

                            .ks-detail-frame2, .ks-detail-frame4 {
                                width: 16px;
                            }    

                            .ks-detail-frame-parts1, .ks-detail-frame-parts2, .ks-detail-frame-parts3, .ks-detail-frame-parts4 {
                                width: 17px;
                                height: 17px;
                            }    

                            h3 {
                                padding-bottom: 8px;
                                font-size: 20px;
                                line-height: 33px;
                            }

                            p {
                                margin-top: 8px;
                                font-size: 16px;
                                line-height: 26.4px;
                            }

                            .ks-pickUp-item-price {
                                margin-top: 8px;
                                font-size: 18px;
                                align-items: baseline;

                                span {
                                    margin-right: 6px;
                                    font-size: 24px;
                                    line-height: 39.4px;
                                }
                            }

                            .ks-pickUp-item-cta {
                                height: 53px;
                                margin: 24px auto 0 auto;
                                cursor: pointer;

                                a {                                    

                                    &::after {
                                        transition-duration: .25s;
                                    }
                                }

                                &:hover {

                                    a {

                                        &::after {
                                            opacity: 1;
                                        }
                                    }
                                }

                                a {
                                    font-size: 20px;
                                    line-height: 33px;
                                }
                            }
                        }
                    }

                    article:nth-of-type(1) {
                        margin-top: 60px;
                    }

                    article:nth-of-type(2) {
                        flex-direction: row-reverse;

                        .ks-pickUp-item_img {

                            .ks-pickUp-item_img-obi {
                                left: initial;
                                right: -106px;

                                .ks-pickUp-item_img-obi-bg-pc {
                                    left: initial;
                                    right: 0;
                                }

                                .ks-pickUp-item_img-obi-bg-pc-on {
                                    display: none;
                                }

                                p {
                                    left: initial;
                                    right: 0;

                                    span {
                                        padding: 0 8px;
                                    }
                                }
                            }    
                        }
                    }
                }

                .ks-ranking, .ks-recommend {
                    width: calc(100% - 80px);
                    margin: 40px auto 0 auto;
                    position: relative;

                    h2 {
                        padding: 60px 0 0 40px;
                    }

                    .ks-arrow-prev, .ks-arrow-next {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        top: 50%;
                        cursor: pointer;

                        .ks-arrow-prev1, .ks-arrow-prev2 {
                            width: 100%;
                            height: 100%;
                            @include absolute;
                        }

                        .ks-arrow-prev2 {
                            transform: rotate(180deg);
                        }

                        .ks-arrow-next1, .ks-arrow-next2 {
                            width: 100%;
                            height: 100%;
                            @include absolute;
                        }

                        .ks-arrow-next1 {
                            transform: rotate(180deg);
                        }
                    }

                    .ks-arrow-prev {
                        left: 8px;
                    }

                    .ks-arrow-prev-on {
                        cursor: initial;

                        .ks-arrow-next2 {
                            display: block;
                        }

                        .ks-arrow-prev2 {
                            display: none;
                        }
                    }

                    .ks-arrow-next {
                        right: 8px;
                    }

                    .ks-arrow-next-on {
                        cursor: initial;

                        .ks-arrow-next1 {
                            display: block;
                        }

                        .ks-arrow-next2 {
                            display: none;
                        }
                    }
    
                    .ks-slideX-sp {
                        display: none;
                    }

                    .ks-slideX-pc {
                        overflow-x: hidden;
                        width: calc(100% - 80px);
                        margin: 40px auto 0 auto;
                        display: flex;

                        .ks-slide-ul1, .ks-slide-ul2 {
                            display: flex;
                            justify-content: space-between;
                            transition-duration: 1s;
            
                            li {
                                margin-left: 16px;
        
                                a {
                                    color: #333333;
        
                                    .ks-ranking-icon {
                                        width: 100%;
                                        height: 26px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: end;
                                        position: relative;
                
                                        p {
                                            font-size: 12px;
                                            font-weight: bold;
                                            color: $white;    
                                            line-height: 19.8px;
                                            transform: translateY(2px);
                                            z-index: 1;
                                        }
                
                                        img {
                                            width: 32px;
                                            position: absolute;
                                            top: 0;
                                            left: 50%;
                                            transform: translateX(-50%);
                                            z-index: 0;
                                        }
                                    }
                
                                    .ks-slideX-item_img {
                                        width: calc((100vw - 240px) / 6);
                                        height: calc((100vw - 240px) / 6);
                                        margin-top: 8px;
                                    }
                
                                    h3, p {
                                        margin-top: 8px;
                                        font-size: 14px;
                                        line-height: 23.1px;
                                        white-space: wrap;
                                    }    
                                }
                            }
        
                            li:nth-of-type(1) {
                                margin-left: 0;
                            }
                        }     

                        .ks-slide-ul1 {
                            transform: translateX(-100vw);
                        }
                        .ks-slide-ul-on1 {
                            margin-right: 155px;
                            transform: translateX(0);
                        }

                        .ks-slide-ul-on2 {
                            margin-left: 160px;
                            transform: translateX(-100vw);
                        }
                    }
                }

                .ks-items {

                    .category-title {
                        display: initial;

                        h2 {
                            padding-left: 80px;
                        }

                        .list-head-sort {
                            margin-left: 80px;
                        }
                    }

                    .item-list {
                        width: calc(100% - 160px);

                        li {
                            width: calc((100% - 80px) / 6);
                            margin-top: 40px;
                            margin-right: 0;
                            margin-left: 16px;
                        }

                        li:nth-of-type(1), li:nth-of-type(2), li:nth-of-type(3), li:nth-of-type(4), li:nth-of-type(5), li:nth-of-type(6) {
                            margin-top: 0;
                        }

                        li:nth-of-type(1), li:nth-of-type(7), li:nth-of-type(13), li:nth-of-type(19), li:nth-of-type(25), li:nth-of-type(31), li:nth-of-type(37), li:nth-of-type(43), li:nth-of-type(49) {
                            margin-left: 0;
                        }
                    }

                    .pager-wrap {
                        width: calc(100% - 160px);
                        margin: 40px auto 0 auto;
                    }
                }
            }
        }
    }
}
